{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% for book in books %}

    <div>
        <h2>{{ book.title }}</h2>

        <p>Author: {{ book.author }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Category: {{ book.category }}</p>

        <p>
            Available:
            {{ book.available_copies }}
            /
            {{ book.total_copies }}
        </p>

        {% if user.is_authenticated %}
            {% if book.available_copies > 0 %}
                <a href="{% url 'borrow_book' book.id %}">
                    Borrow
                </a>
            {% else %}
                <p>No copies available.</p>
            {% endif %}
        {% else %}
            <p>Please login to borrow this book.</p>
        {% endif %}
    </div>

    <hr>

{% endfor %}